<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>{% block title %} Eric Xu - CS Student {% endblock %}</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% block styles %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/typing.js' %}"></script>
  <script src="{% static 'js/skyline.js' %}"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">  
</head>

<body>
<!-- Navbar -->
<div class="wrapper">
    
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div id="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{% url 'cover' %}">Eric Xu</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'Main:about' %}">About</a></li>
          <li><a href="{% url 'Main:project_index' %}">Projects</a></li>
          <li><a href="{% url 'Main:work' %}">Work</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class = "pink-separator"> 
</div>

{% block body_block %}
<!-- Home -->

<div class="container-fluid">    

  <div class="row">

  <!-- <div class="col-sm-7"> -->
    <div id="left">
      <h1 class = "my-name">Hi, I'm Eric!</h1>
      <div class="css-typing">
        <p>I am a computer science student at the</p>
        <p>University of Toronto 🇨🇦</p>
      </div>

          <div class="txt">
            <div class = "more-about-me">
            I’m interested in machine learning and I love creating coding projects.
            <br>
            <br>
            Feel free to check out my completed projects and both past and current work experiences! 
            <br>
            <br>
            <br>
            <span class='strong'>Main skills</span>
            <div class = "in-between"></div>
            Python <span class='separator'></span>
            JavaScript <span class='separator'></span>
            Java <span class='separator'></span>
            HTML & CSS
            <br>
            <br>
            <br>
            <span class='strong'>Additional skills</span>
            <div class = "in-between"></div>
            Django <span class='separator'></span>
            Google App Engine<span class='separator'></span>
            <br>
            <br>
            <br>
            <br>
          </div>

            <div id = "social">
            <a target="_blank" href="#">Resume</a>
            <span class='separator'>|</span>
            <a target="_blank" href="https://www.linkedin.com/in/haoyang-eric-xu-312368197/" class="copy_body_link">LinkedIn</a>
             <span class='separator'>|</span>
            <a target="_blank" href="https://github.com/Ericxu19/" class="copy_body_link">Github</a>
             <span class='separator'>|</span>
            <a href="mailto:ericc.xu@mail.utoronto.ca?subject=Hello" class="copy_body_link">Email</a>
            
          </div>
          </div>
    </div> <!--end of class left-->

    <!--</div> -->

    <!-- <div class="col-sm-5"> -->
      <div id="right"> <img src="{% static "img/website-pic.png" %}" class="img-responsive" style="width:100%;" alt="Image"></div>
  <!-- </div> -->

  </div> <!--end of class row-->
</div> <!-- end of container-fluid-->
{% endblock %}


<!-- Footer -->
  <!-- FOOTER -->
    <div class="container-footer">
      <div class="footer">
        <hr class="footer-hr">
        Made by Eric Xu
      </div>
    </div>
  </div>
</div> <!-- end of wrapper-->

</body>
</html>
















